<div class="row">
  <div class="col-sm-3" style="margin-bottom: 28px">

    <app-alert [message]="error"
               *ngIf="error"
               (close)="onHandleError()">
    </app-alert>

    <button class="btn btn-default"
            (click)="onNewBoard()">
      <span class="glyphicon glyphicon-flash"></span>
      New
    </button>
  </div>
  <div class="col-sm-9">
    <app-board-search
      (searchData) = onSearch($event)
      [search]="searchString"
    ></app-board-search>
  </div>
  <div class="col-sm-12 text-right" *ngIf="searchSw">
    <button class="btn btn-success"
            (click)="onInitSearch()">
      <span class="glyphicon glyphicon-flash"></span>
      Init Search
    </button>
  </div>
</div>
<hr>
<div class="row" *ngIf="boardsLength != 0">
  <div class="col-sm-12" *ngFor="let board of boards;">
    <a style="cursor: pointer"
       routerLinkActive="active"
       [routerLink]=board.id
       class="list-group-item clearfix">
      <div class="pull-left">
        <h4
          class="list-group-item-heading">
          {{ (board.title.length > 25) ? (board.title | slice:0:25) + '...' : (board.title) }}
        </h4>
        <p class="list-group-item-text"> <span class="glyphicon glyphicon-barcode"></span>
          {{ board.email }}
          {{ board.published | date : 'yyyy-M-d HH:mm:ss'}}</p>
      </div>
    </a>
  </div>
</div>

<div class="row" *ngIf="boardsLength != 0">
  <div class="col-sm-12">
    <app-pagination
      [currentPage]="currentPage"
      [itemsPerPage]="itemsPerPage"
      [totalItems]="totalItems"
      [startPage]="startPage"
      [pageSize]="pageSize"
      (pageChanged)="onPageChange($event)"
    ></app-pagination>
  </div>
</div>



