

<div class="row">
  <div class="col-sm-12 col-md-6 col-md-offset-3">

    <app-alert [message]="error"
               *ngIf="error"
               (close)="onHandleError()">
    </app-alert>

    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <div formGroupName="userData">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="email">Account</label>
              <input type="text"
                     class="form-control"
                     formControlName="email"
                     id="email">
              <span *ngIf="!userForm.get('userData.email').valid && userForm.get('userData.email').touched">
                <span *ngIf="userForm.get('userData.email').errors['required']" class="help-block">
                  The email field is required.
                </span>
                <span *ngIf="userForm.get('userData.email').errors['email']" class="help-block">
                  The email is invalid.
                </span>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password"
                     formControlName="password"
                     class="form-control"
                     id="password">
              <span *ngIf="!userForm.get('userData.password').valid && userForm.get('userData.password').touched">
                <span *ngIf="userForm.get('userData.password').errors['required']" class="help-block">
                  The password field is required.
                </span>
                <span
                  *ngIf="userForm.get('userData.password').errors && !userForm.get('userData.password').errors['required']"
                  class="help-block">
                  The password length is more than 6 characters.
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-info"
              [disabled]="!userForm.valid"
              type="submit">{{ loginMode ? 'Login' : 'Join' }}</button>
      <button class="btn btn-default"
              (click)="onSwitchMode()"
              type="button">{{ loginMode ? 'Switch to join' : 'Switch to login' }}</button>
    </form>
  </div>
</div>
