<div class="row">
  <div class="col-lg-6" style="margin-bottom: 28px">
    <div class="input-group">
      <input type="text"
             class="form-control"
             [(ngModel)]="search"
      >
      <div class="input-group-btn" appDropdown>
        <button type="button"
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">
          Search <span class="caret"></span></button>
        <ul class="dropdown-menu pull-right">
          <li><a (click)="searchType('title')">Title</a></li>
          <li><a (click)="searchType('title/content')">Title + Content</a></li>
          <li><a (click)="searchType('user')">User</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
