<div class="row" style="margin-bottom: 20px" *ngIf="!commentEditMode">
    <div class="col-sm-12 text-right">
        <button class="btn btn-block" (click)="onEditComment()">
            <span class="glyphicon glyphicon-flash"></span>
            New comment
        </button>
    </div>
</div>

<div class="row" *ngIf="comments.length || commentEditMode == true">
    <div class="col-sm-12">
        <h4>Comments</h4>
    </div>
</div>

<div class="row" *ngIf="commentEditMode">
    <div class="col-sm-12" style="margin-bottom: 20px">
        <app-board-comment-edit
                [commentId]="commentId"
                (onCommentIdChange)="onCommentIdChange()"

                [commentEditMode]="commentEditMode"
                (onEditModeChange)="onEditModeChange($event)"

                [parentCommentId]="parentCommentId"
                (onParentCommentIdChange)="onParentCommentIdChange($event)"

                [childCommentMode]="childCommentMode"
                (onChildCommentModeChange)="onChildCommentChange()">
        </app-board-comment-edit>
    </div>
</div>
<hr>

<ng-container *ngIf="!commentEditMode">
    <div class="row" *ngFor="let comment of comments">
        <div class="col-sm-4" style="margin-bottom: 10px">
            <dl class="dl">
                <dt>Email 📨</dt>
                <dd>{{ comment.email }}</dd>
            </dl>
        </div>
        <div class="col-sm-4" style="margin-bottom: 10px">
            <dl class="dl">
                <dt>Date 📆</dt>
                <dd>{{ comment.published | date: 'yyyy-MM-dd HH:mm:ss'}}</dd>
            </dl>
        </div>
        <div class="col-sm-4 text-right" style="margin-bottom: 10px">
            <div class="btn-group" appDropdown>
                <button type="button"
                        class="btn btn-default dropdown-toggle">
                    Manage <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a (click)="onEditComment(+comment.id)"
                           *ngIf="user.email == comment.email || user.email == 'admin@admin.com'">Edit comment</a></li>
                    <li><a (click)="onDeleteComment(+comment.id, boardId)"
                           *ngIf="user.email == comment.email || user.email == 'admin@admin.com'">Delete comment</a></li>
                    <li><a (click)="onNewChildComment(+comment.id)">New comment</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12">
            <p> {{ comment.comment }} </p>
            <hr>
        </div>
        <div class="col-sm-12">
            <app-board-child-comment
                    [user]="user"
                    [child_comments]="comment.child_comments"

                    (onEditChildComment)="onEditChildComment($event)"
                    (onDeleteChildComment)="onDeleteChildComment($event, boardId)"
            ></app-board-child-comment>
        </div>
    </div>
</ng-container>

