<div class="row" *ngFor="let child_comment of child_comments">
    <div class="child_color">
        <div class="col-sm-4" style="margin-bottom: 10px;">
            <dl class="dl">
                <dt>Email 📨</dt>
                <dd>{{ child_comment.email }}</dd>
            </dl>
        </div>
        <div class="col-sm-4" style="margin-bottom: 10px">
            <dl class="dl">
                <dt>Date 📆</dt>
                <dd>{{ child_comment.published | date: 'yyyy-MM-dd HH:mm:ss'}}</dd>
            </dl>
        </div>
        <div class="col-sm-4 text-right" style="margin-bottom: 10px"
             *ngIf="user.email == child_comment.email || user.email == 'admin@admin.com'">
            <div class="btn-group" appDropdown>
                <button type="button"
                        class="btn btn-default dropdown-toggle">
                    Manage <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a (click)="onEditComment(+child_comment.id)">Edit comment</a></li>
                    <li><a (click)="onDeleteComment(+child_comment.id)">Delete comment</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12">
            <p> {{ child_comment.comment }} </p>
            <hr>
        </div>
    </div>
</div>


